@charset "utf-8";
/* CSS Document */

body {
	background-image:url("pozadina (2).jpg")
	}



h1 {
font-family: LanaAntolovic;
	padding: 30
	px;
 color:#440D38;
	}

h2 {
font-family: LanaAntolovic;
	padding: 30
	px;
 color:#440D38;
	}
